#search {
    display: flex;
    flex-direction: row;
    height: 35px;
}

#search-box {
    flex: 1;
}

#search-button {
    flex: 0.4;
}

.table {
    width: 70%;
}

#top-left {
    border-top-left-radius: 1em;
}

#bottom-left {
    border-bottom-left-radius: 1em;
    border-bottom-width: 0em;
}

#top-right {
    border-top-right-radius: 1em;
}

#bottom-right {
    border-bottom-right-radius: 1em;
    border-bottom-width: 0em;
}

td {
    padding-right: 0em !important;
    padding-left: 0em !important;
}

.open-button {
    height: 100%;
    width: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-right: 0em;
    padding-right: 0em;
    padding-left: 0em;
    white-space: nowrap;
}

.middle-button {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-right: 0em;
    padding-right: 0em;
    padding-left: 0em;
    white-space: nowrap;
}

.close-button {
    height: 100%;
    width: 100%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-right: 0em;
    padding-left: 0em;
    white-space: nowrap;
}

#new-account-form {
    width: 5%;
    aspect-ratio: 1 / 1;
    float: right;
}

#new-account-button {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}