body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(152, 211, 137);
    flex: 0 100px 100px;
}

main {
    background-color: rgb(126, 137, 135);
    flex: 0 0;
}

footer {
    background-color: rgb(62, 54, 63);
    flex: 0 100px 100px;
}

menu {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;
}

.navbar-item {
    padding: 0 1em;
    
}

.navbar-link {
    text-decoration: none;
}

#page-title {
    padding-left: 12px;
}
