body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    background-color: rgb(62, 54, 63);
    flex: 12%;
}

main {
    background-color: rgb(152, 211, 137);
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(62, 54, 63);
    flex: 6%;
    display: flex;
    flex-direction: row;
}

menu {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;
}

.navbar-item {
    padding: 0 1em;
    
}

.navbar-link {
    text-decoration: none;
}

#page-title {
    padding-left: 12px;
}

#github-link {
    float: right;
}

* {
    color: white;
}