.sn-pro-newFont {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    background-color: rgb(62, 54, 63);
    flex: 12%;
    color: white;
}

main {
    background-color: rgb(152, 211, 137);
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(62, 54, 63);
    flex: 6%;
}

menu {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;
}


.navbar-link {
    text-decoration: none;
    color: white;
    padding: 0 1em;
}

.navbar-link-main {
    text-decoration: none;
    color: rgb(187, 187, 187);
    padding: 0 1em;
}

.login-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#page-title {
    padding-left: 12px;
}

#github-link {
    float: right;
    margin-right: 10px;
    color: white;
}

#author {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

* {
    font-family: "SN Pro", sans-serif;
}